  /* наша HTML таблица */
  table.sort{
    border-spacing:0.1em;
    margin-bottom:1em;
    margin-top:1em
}
.long{
    min-width: 190px !important;
}
/* ячейки таблицы */
table.sort td{
    border:1px solid #CCCCCC;
    padding:0.3em 1em
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
        width: auto;
    padding: 5px;
    background: #D8E6F3;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    thead tr td { 
        background: #AFCDE7;
        color: white;
    }

/* заголовки таблицы */
table.sort thead td{
    cursor:pointer;
    cursor:hand;
    font-weight:bold;
    text-align:center;
    vertical-align:middle
}


table.sort thead td.curcol{
    background-color:#999999;
    color:#FFFFFF
}
